// prettier-ignore
.d-b { display: block; }
// prettier-ignore
.d-i { display: inline; }
// prettier-ignore
.d-ib { display: inline-block; }

// prettier-ignore
.p-r { position: relative; }
// prettier-ignore
.p-a { position: absolute; }
// prettier-ignore
.p-f { position: fixed; }

// prettier-ignore
.o-h { overflow: hidden; }

// prettier-ignore
.f-l { float: left; }
// prettier-ignore
.f-r { float: right; }

// prettier-ignore
.t-c { text-align: center; }
